* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden !important;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Microsoft YaHei",
  system-ui, sans-serif;
  background: #050816;
  color: #fff;
}

#app {
  height: 100%;
}
